
/* CSS Document */

body{
	width:80%;
	margin:auto;
	
	/*background-color:#c4c0cf;*/
	background-color:#f4f4f4;
	font:normal 16px/1.6 ProximaNova-Regular, "Proxima Nova Rg", "Proxima Nova", sans-serif, Arial;
}

.heading {
	width:100%;
	
		
}
#name-box{
	width:20%;
	margin:auto;
	
}
.top-image {
	width:100%;
	
}
.top-image-wrapper{
	width:60%;
	margin:auto;
	
}
.wrapper {
	margin-top:30px;
}

.divbutton{
	height:50px;
	border:1px solid green;
}
.slider-container  {
	width: 50%;
	margin:auto;
	padding:0;
	
	position:relative;
}
.cl{
	width:0;
	height:0;
	margin:0;
	padding:0;
	}

#photo  {
	width:100%;
	
	
}
.ltarrow{
	position:absolute;
	margin-top:140px;
	/*margin-top:calc(height * .5);*/
	margin-left:30px;
	
	
}

.rtarrow{
	position:absolute;
	margin-top:140px;
	/*margin-top:calc(height * .5);*/
	/*margin-left:calc(width - 30px);*/
	margin-left:480px;
	
	
}
.playBtn_active{
	position:absolute;
	width:20px;
	height:20px;
	margin-top:30px;
	background:url(../image/icon/play-circle-active.png) no-repeat;
	/*margin-top:calc(height * .5);*/
	/*margin-left:calc(width - 30px);*/
	margin-left:480px;
	
}
.playBtn_deactive{
	position:absolute;
	width:20px;
	height:20px;
	margin-top:30px;
	background:url(../image/icon/play-circle-deactive.png) no-repeat;
	/*margin-top:calc(height * .5);*/
	/*margin-left:calc(width - 30px);*/
	margin-left:480px;
	
}
.pauseBtn_active{
	position:absolute;
	width:20px;
	height:20px;
	margin-top:30px;
	background:url(../image/icon/pause-btn-active.png) no-repeat;
	/*margin-top:calc(height * .5);*/
	/*margin-left:calc(width - 30px);*/
	margin-left:450px;
	
}
.pauseBtn_deactive{
	position:absolute;
	width:20px;
	height:20px;
	margin-top:30px;
	background:url(../image/icon/pause-btn-deactive.png) no-repeat;
	/*margin-top:calc(height * .5);*/
	/*margin-left:calc(width - 30px);*/
	margin-left:450px;
	
}
.coins{
	position:absolute;
	width:150px;
	margin-top:150px;
	margin-left:200px;
	
}
.coinblock {
/*	display: block;*/
}
 .coinblock .coinli {
	 width:30px;
	 height:30px;
	 float:left;
	 background:url(../image/icon/coin-deactive.png) no-repeat;
	 list-style: none;
 }
 /*.coinblock .coinli a {
	 width:30px;
	 height:30px;
	 display:block;
 }*/
 .coinblock .coinli_selected {
	 width:30px;
	 height:30px;
	 float:left;
	 list-style: none;
	 background:url(../image/icon/coin-active.png) no-repeat;
 }
 .coinblock .coinli:hover {
	 background:url(../image/icon/coin-active.png) no-repeat;
 }

 .link-container{
	 width:100%;
	 padding-bottom:50px;
	 height:100px;
	 
 }
 
 .link-li{
	 /*display:block;*/
	 list-style: none;
	 float:left;
	 width:33%;
 }

  .link-li-fcc{
	 list-style: none;
	 float:left;
	 width:33%;
	 margin:40px 0;
 }
	



