@import url("https://fonts.googleapis.com/css?family=Kalam");
/* @import url("https://fonts.googleapis.com/css?family=Eater|Oswald"); */

body{
  /* background-color: #f4f4f4; */
  background-color:#E8EBF7;
  border:1px solid green;
  padding:0;
  margin:0;
}
.body-bkgnd{
  width:100%;
 
}
/* odd child */
 .body-bkgnd:nth-child(2n+1){
  /* background-color:#F2D398; */
  background-color:#B4B8AB;

}
/* even child */
 .body-bkgnd:nth-child(2n){
  background-color:#E8EBF7;
}
ul{
  display: flex;
  justify-content: space-around;
  padding-inline-start: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  line-height: 3.2em;
  background-color: #D6D1B1;}
li {
  list-style: none;
  font-size:1.2em;
}
header {
  position:fixed;
  top:0;
  width:100%;
}
#temp-pad{
  padding-top: 2.1em;
}
#contact {
  /* height:80vh; */
  height:auto;
  /* border:1px solid black; */
  
}

h1 {
  text-align:center;
  /* position:sticky;
  top:0; */
  /* background-color:#f4f4f4; */
  /* color:#8093F1; */
  color:#631934;
  margin-block-end: 0.17em;
  padding-bottom: 0.5em;
  font-size:1.5em;
}
section {
  width: 85vw;
  margin: 0 auto;
}
figure {
  width:60%;
  /* border:1px solid red; */
  margin: 0 auto;
  /* 1em=16px */
  padding-bottom:0; 
}
form {
  border-radius:.2em;
  display: flex;
  flex-direction: column;
  padding: 0 1em;
  width: 90%;
  background: rgba(255,255,255,0.5);
  /* background-color:#B4B8AB; */
  background-color:#187995;
  opacity:0.7;
  margin:0 auto 2em auto;
}
form > label:first-child{
  padding: 1.5em 0 1em 0;
  
}
form label{
  padding: 1em 0;
  font-weight:900;
  color:#202020;
  font-size:1.1em;
  
}
form input{
  line-height: 3em;
  background-color:#E8EBF7;
  border-radius:.5em;
}
form textarea{
  background-color:#E8EBF7;
  border-radius:.5em;
}
form button{
  width: 30%;
  min-width: 150px;
  max-width: 300px;
  height: 3em;
  border: 2px solid#056644;
  margin: 2em auto;
  /* background-color: darkolivegreen; */
  background-color: #1D800E;
  color: white;
  font-size:1em;
}
.banner {
  padding-top: 8rem;
  width: 100%;
  min-height: 65vh;
  height: auto;
  background-image: url(../image/tech_small.jpg);
  /* clip-path: polygon( 0% 0%, 100% 0%, 100% 90%, 65% 90%, 50% 100%, 35% 90%, 0% 90% ); */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#banner-cap-h1{
  text-align:left;
  padding-left: 1em;
  margin-block-end: 2em;
}
.banner h1{
  /* color:deepskyblue; */
  /* color:#631934; */
  /* color:#E26CFF; */
  color:white;
  text-align:left;
  background-color: transparent;
  font-family: 'Kalam', cursive;
  padding-left:.5em;
  margin-block-end: 1.2em;
}
img {
  /* height: 300px; */
  width:100%;
   /* 100% is the full width of parent container i.e
    slider-container here , aspect_ratio=original_width/original_height, 
    new_height = original_width / aspect_ratio (1024/447)*/
  height: calc(100% / (1024 / 447) );
  min-height: 160px;
}

  


@media screen and (min-width: 600px) {
  figure{
    width:50%;
    padding-bottom:1em;
  }
  #banner-cap-h1{
    padding-left:1.5em;
    font-size:3em;
    margin-block-end: 1.2em;
  }
  .banner h1{
    font-size:2.8em;
    margin-block-end: .1em;
  }
  #contact {
    background-image: linear-gradient( rgba(100, 50, 0, 0.45), rgba(50, 85, 150, 0.45) )
  ,url(../image/emails.jpg);  background-repeat:no-repeat;
  background-size: cover;
  background-position: center;
  padding-bottom:2em; 
  }
  h1{
    font-size:1.6em;
  }
  form {
    width:60%;
    padding: 0 1.5em;
    filter: drop-shadow(16px 16px 10px black);

  }
  form label{
    max-width: 80vw;
  }
  form input{
    max-width: 80vw;
  }
  
  section {
    width: 80vw;
  }
  ul{
   justify-content: start;
   padding-inline-start: 10%;
  }
  li{
    font-size:1.3em;
  }
  ul > li:not(:last-child){
    padding-right: 4em;
  }
  /* h1 {
    background-color:greenyellow;
  }
  body{
    background-color:greenyellow;
  } */
  

}
